* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', 'Times New Roman', Times, serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 1rem 0;
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 1.7rem;
  font-size: 14px;
}

header nav li {
  list-style-type: none;
}

header nav li img {
  width: 110px;
}

header nav li a {
  text-decoration: none;
  color: black;
}
header nav li a:hover {
  text-decoration: underline;
}

.banner {
  background-color: #0067b8;
  color: white;
  text-align: center;
  padding: 1.2rem 1rem 1.2rem 1rem;
  font-weight: 500;
}

.spaced {
  margin: 0 6rem 0 6rem;
}

.rotated {
  transform: scaleX(-1);
}

.heading__users-icon{
  font-size: 22px;
}

.hero-container {
  position: relative;
}

.hero-container img {
  width: 100%;
}

.overlay {
  position: absolute;
  top: 50%;
  bottom: 50%;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  justify-self: center;
  gap: 1.5rem;
}

.hero-text {
  right: 0;
}
.overlay h1 {
  font-weight: 500;
  font-size: 2.2rem;
}

.hero-text div {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.overlay button {
  padding: 0.7rem;
  background-color: #0067b8;
  border: 0;
  border-radius: 3px;
  color: white;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.overlay div p {
  font-size: 16px;
}
.services {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.services div {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.services div a {
  color: #0067b8;
  font-weight: 500;
}

.services div img {
  align-self: center;
  width: 22%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.5rem;
  margin-top: 5rem;
}

.grid-container img {
  width: 100%;
}

.grid-container h2 {
  font-size: 1.6rem;
  margin-top: 5px;
  font-weight: 500;
}

.grid-container p {
  margin-top: 10px;
  font-size: 15px;
  line-height: 1.5rem;
}

.grid-container div a {
  padding-top: 2.5rem;
  display: inline-block;
  color: #0067b8;
  text-decoration: none;
  font-weight: 500;
}
.discount {
  margin-top: 6rem;
  position: relative;
}
.discount img {
  width: 100%;
}
.description-text {
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 0;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  justify-self: center;
  gap: 1.5rem;
}

.heading {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.business {
  margin-top: 0;
}

.coco {
  margin-top: 5rem;
  position: relative;
}

.coco img {
  width: 100%;
}

.nana {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 2rem;
  width: 100%;
  padding: 2rem;
  background-color: white;
}

footer {
  background-color: #f2f2f2;
  margin-top: 5rem;
  padding: 2rem 0 2rem 0;
}

.link-stack {
  display: flex;
  justify-content: space-between;
}

footer ul li {
  list-style-type: none;
  font-size: 11px;
  color: #575c62;
}

.list-link ul li a {
  text-decoration: none;
  color: black;
}

.list-link ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer li a:hover {
  text-decoration: underline;
}

.humbeger {
  display: none;
}

@media (max-width: 900px) {
  .spaced {
    margin: 0 1rem 0 1rem;
  }
  .grid-container {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .left-nav {
    display: none;
  }
  .overlay h1 {
    font-weight: 500;
    font-size: 2rem;
  }
  .hero-container img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
}

@media (max-width: 550px) {
  .overlay {
    max-width: 100%;
  }
  .spaced {
    margin: 0 1rem 0 1rem;
  }
  .link-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .list-link {
    margin-top: 2rem;
  }
  .humbeger {
    display: block;
  }
  header ul {
    display: none;
  }
  .nav-options {
    display: none;
  }
  .grid-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .services {
    flex-direction: column;
  }
  .overlay {
    position: relative;
    max-width: 100%;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    box-shadow: #575c62;
  }
  .hero-container img {
    height: 75vw;
    object-fit: cover;
    object-position: left;
  }
  .shop-btns {
    display: flex;
    flex-direction: column;
    align-self: start;
    gap: 16px !important;
  }
  .services div {
    align-items: center;
  }
  .services div img {
    max-width: 40px;
  }
  .coco img {
    height: 60vw;
    object-fit: cover;
    object-position: center;
  }
  .discount img {
    margin-top: 1.5rem;
    height: 60vw;
    width: 100%;
    object-fit: cover;
    object-position: right;
  }
}
.bi-list {
  font-size: 50px;
}
